
.section-cards{
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
    text-align: center;

    .cards{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card{
        width: 30vw;
        height: 20vh;
        margin: 0.8rem;
        padding: 1rem;
        border-radius: 1rem;
        border: rgba(0, 0, 0, 0.214) solid 5px;
        h2{
            
            text-align: end;
        }
    }
}


form {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    .inputs{
        display: flex;
        justify-content: space-around;

        input{
            border-radius: 3px;
        }
    }

    button {
        padding: 0.5rem;
        
    }

    label{
        margin-right: 0.8rem;
    }

    fieldset{
        margin: 1rem;
        border-radius: 2rem;
        border-width: 3px;
    }
}

.error{
    border-color: red;
    background-color: rgba(185, 30, 30, 0.308);
    p{
        font-weight: 700;
        color: red;
    }
    input{
        border-color: red;
    }
}

