*{
    font-family: Tahoma, sans-serif;
    background-color:  #0e0e0e;
    color: white;
}
.section-cards{
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
    text-align: center;
    .cards{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card{
        width: 30vw;
        height: 20vh;
        margin: 0.8rem;
        padding: 1rem;
        border-radius: 1rem;
        border: rgba(0, 0, 0, 0.214) solid 5px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        h1, p{
            margin: 0;
        }
    }
}


form {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    .inputs{
        display: flex;
        justify-content: space-around;

        input{
            border-radius: 3px;
        }
    }

    button {
        padding: 0.5rem 2rem;

        background-color: rgba(5, 107, 5, 0.638);
        border-radius: 0.5rem;
    }

    label{
        margin-right: 0.8rem;
    }

    fieldset{
        margin: 1rem;
        border-radius: 0.8rem;
        border-width: 2px;
        background-color: #202020;

        h1, .inputs, input, label, div{
            background-color: #202020;
        }

    }
}

.error{
    border-color: red;
    background-color: #ff2f2f27;
    p{
        background-color: rgba(0, 0, 0, 0);
        font-weight: 700;
        color: red;
    }
    input{
        border-color: rgba(252, 250, 250, 0.263);
    }
    h1, .inputs, input, label, div{
        background-color: rgba(255, 0, 0, 0);
    }
}

